
/* fonts */
+font('Avenir Next', 'avenirnextcyrlight', 300)
+font('Avenir Next', 'avenirnextcyrultralight', 200)
+font('Futura PT', 'futuraptlight', 300)

/* html */
html
  box-sizing: border-box
  +rmin($screen-sm)
    min-height: 100%
    position: relative
  &.asd
    margin-right: 0

*, *:before, *:after
  box-sizing: inherit

/* body */
body
  background: #FFF
  line-height: 1.4
  color: $color-text
  font-size: 14px
  font-weight: 400
  +calibri()
  +rmin($screen-sm)
    font-size: 17px

a
  color: inherit
  &:hover
    text-decoration: none

img
  max-width: 100%

/* forbid focusing elements inside slides */
.slick-slide,
.slick-slide a,
.slick-slide img
  &:focus
    outline: none

.container
  width: 100%

.out
  transition: all 0.3s
  position: relative
  &.js-active
    transform: translateX(-240px)
  &.js-overlay
    position: relative
    &:before
      content ''
      background-color: rgba(black, 0.4)
      position: fixed
      left: 0
      top: 0
      width: 100%
      height: 100%
      z-index: 100

.nav-trigger-wrapper
  text-decoration: none
  z-index: 10
  position: absolute
  right: 15px
  top: 15px
  +rmin($screen-sm)
    display: none

.nav-trigger
  +burger(40px, 4px, 7px, $color-gold)
  &.js-active
    +burger-to-cross()

.mobile-menu
  background-color: white
  color: black
  width: 250px
  padding: 10px 10px 10px 20px
  position: fixed
  right: 0
  top: 0
  min-height: 100%
  overflow: auto
  transition: transform 0.3s
  transform: translateX(100%)
  text-align: left
  .phones
    border-bottom: 1px solid $color-gold
    padding-bottom: 10px
    margin-bottom: 20px
  .phone-caption
    display: block
    text-align: center
  ul
    list-style: none
    padding: 0
    margin: 0
  &.active
    transform: translateX(0)
  +rmin($screen-sm)
    display: none
  a
    font-weight: 700
    text-transform: uppercase
    text-decoration: none
    display: block
    padding: 6px 10px
    font-size: 15px
    font-weight: 400
    &.mobile-nav-item-big
      font-size: 18px
      +avenir()
    &:first-child
      margin-top: 0

.reset-list
  list-style: none
  padding: 0
  margin: 0

/* start socials */
.socials
  text-align: center

.social-icon
  display: inline-block
  vertical-align: middle
  width: 48px
  height: 48px
  border-radius: 50%
  border: 1px solid #d6d6d6
  position: relative
  margin: 10px 7px
  transition: all 0.3s
  svg
    margin: auto
    top: 0
    left: 0
    right: 0
    bottom: 0
    position: absolute
    width: 30px
    height: 20px
    path
      fill: #7e7e7e
      transition: all 0.3s
  &:hover
    background-color: $color-gold
    border-color: $color-gold
    transform: scale(1.1)
    svg path
      fill: white
/* end socials */

/* start footer */
.footer
  text-align: center
  padding: 30px 0
  +rmin($screen-sm)
    padding: 120px 0 30px
    background-color: #f9f9f9
  .logo
    margin-bottom: 30px
    display: inline-block
  &-nav
    font-size: 16px
    margin: 0 auto 20px
    padding-top: 14px
    max-width: 645px
    &:before
      content: ''
      top: 0
      left: 50%
      transform: translateX(-50%)
      width: 10px
      opacity: 0
      height: 1px
      background-color: #e5e5e5
      position: absolute
      transition: all .6s 1s
    &.aos-animate:before
      width: 100%
      opacity: 1
    +rmin($screen-sm)
      font-size: 14px
      margin-bottom: 40px
    a
      color: #352929
      opacity: 0.5
      text-decoration: none
      padding: 10px 10px
      display: inline-block
      +avenir()
      +tr()
      +rmin($screen-sm)
        padding-left: 14px
        padding-right: 14px
      &:hover
        opacity: 1
/* end footer */

/* start icons */
.icon
  display: inline-block
  vertical-align: middle
  position: relative
  &:before, &:after
    content: ''
    top: 0
    left: 0
    width: 100%
    height: 100%
    position: absolute
    +tr()
  &:after
    opacity: 0
  &:hover
    &:before
      opacity: 0
    &:after
      opacity: 1px

.icon-about
  width: 46px
  height: 48px
  &:before
    background-image: url(../images/about-project-ic1.png)
  &:after
    background-image: url(../images/about-project-ic1-active.png)

.icon-apartment
  width: 40px
  height: 47px
  &:before
    background-image: url(../images/about-project-ic2.png)
  &:after
    background-image: url(../images/about-project-ic2-active.png)

.icon-star
  width: 49px
  height: 46px
  &:before
    background-image: url(../images/star.png)
  &:after
    background-image: url(../images/star-black.png)

.icon-statue
  height: 64px
  width: 25px
  &:before
    background-image: url(../images/statue.png)
  &:after
    background-image: url(../images/statue-black.png)

.icon-link
  width: 15px
  height: 15px
  &:before
    background-image: url(../images/link.png)
  &:after
    background-image: url(../images/link-white.png)
/* end icons */


/* start tabs */
.tabs
  box-shadow: 0 2px 20px 0 rgba(black, 0.1)
  z-index: 10
  position: relative
  +clr()

.tab-pane
  text-align: center
  float: left
  width: 50%
  padding: 60px 10px
  font-size: 20px
  text-transform: uppercase
  text-decoration: none
  color: #987641
  border-bottom: 1px solid #e1e1e1
  position: relative
  +tr()
  h3
    font-weight: 200
  .icon-wrap
    height: 63px
  +avenir()
  +tr()
  &:before, &:after
    content: ''
    position: absolute
    +arr(24, 6, #7f7f7f, b)
    bottom: -6px
    left: 50%
    margin-left: -12px
    opacity: 0
    +tr(opacity, 0.3s)
  &:after
    z-index: 1
    bottom: -5px
    +arr(20, 5, #ffffff, b)
    margin-left: -10px
  &:first-child
    border-right: 1px solid #e1e1e1
  &.js-active,
  &:hover
    color: #484848
    border-bottom-color: #7f7f7f
    .icon
      &:before
        opacity: 0
      &:after
        opacity: 1
  &.js-active
    &:before, &:after
      opacity: 1
  +rmin($screen-sm)
    letter-spacing: 6px
    line-height: 0
    font-size: 30px
    height: 270px
    padding-top: 100px
    padding-bottom: 0
/* end tabs */

/* start section-heading */
.section-heading
  font-size: 24px
  text-align: center
  color: #484848
  padding-top: 0
  text-transform: uppercase
  letter-spacing: 4px
  +avenir()
  +tr()
  +rmin($screen-sm)
    font-size: 40px
/* end section-heading */

/* start object-distance */
.object-distance
  background-color: #f9f9f9
  padding: 30px 0
  +rmin($screen-sm)
    padding: 50px 0

.distance-item
  margin: 30px 0
  text-align: center
  display: inline-block
  width: 100%
  position: relative
  +rmin($screen-xs)
    display: inline-block
    width: 48%
  +rmin($screen-sm)
    padding-left: 10px
    padding-right: 10px
    width: 24%
  +rmin($screen-sm)
    &:before
      content: ''
      position: absolute
      top: 50%
      right: 0
      width: 1px
      height: 228px
      margin-top: -114px
      background-color: #d7d7d7
    &:last-child:before
      display: none
  .circle
    width: 160px
    height: 160px
    border-radius: 50%
    text-align: center
    position: relative
    background: url(../images/circles.png) no-repeat center
    padding-top: 38px
    margin: 0 auto
  .num
    font-size: 48px
    +avenir()
  .num, .text
    color: #987641
    line-height: 1.2
  .caption
    font-size: 15px
    text-transform: uppercase
    letter-spacing: 3px
    margin-top: 30px
/* end object-distance */

/* start page-title */
.page-title
  padding: 30px 0
  margin: 0
  color: #99805c
  +rmin($screen-sm)
    padding: 70px 0
/* end page-title */

/* start popup-styles */
.popup
  max-width: 910px
  position: relative
  margin: 10px auto 0
  background-color: transparent
  color: #bda177
  border: 1px solid $color-gold
  .btn
    background-color: transparent
    border-color: $color-gold
    color: $color-gold
    cursor: pointer
    +r(767px)
      width: 100%
      min-width: 0
  &-success
    .popup-header
      padding-bottom: 0
    .popup-content
      text-align: center
      margin: 0 auto
      padding: 20px 0 40px
      h4
        font-size: 19px
        font-weight: 400
        margin-bottom: 10px
        margin-top: 0
        +rmin($screen-sm)
          font-size: 26px
      p
        font-size: 17px
        line-height: 1.2
        font-weight: 300
        opacity: .9
        margin: 0
        +rmin($screen-sm)
          font-size: 21px
  +r(767px)
    h4
      font-size: 18px
    p
      font-size: 15px
      span
        display: block
  +r(767px)
    width: 95%
  &-close
    position: absolute
    top: 19px
    right: 22px
    z-index: 4
    width: 30px
    height: 30px
    border: 1px solid
    background-color: transparent
    padding: 0
    border: 1px solid #bda177
    cursor: pointer
    transition: all 0.3s
    border-radius: 50%
    text-align: center
    opacity: 0.6
    &:focus
      outline: none
    +tr()
    .cross
      +burger(18px, 1px, 2px, $color-gold)
      margin: 0 auto
      +burger-to-cross()
    &:hover
      opacity: 1
    +r(767px)
      top: 14px
      right: 14px
  &:focus
    outline: none
  &:hover
    opacity: 1
  &-header
    color: $color-gold
    text-align: center
    padding: 30px 10px 0
    h3
      font-size: 18px
      font-weight: 400
      margin-bottom: 0
      margin-top: 0
      text-transform: uppercase
      +avenir()
      letter-spacing: 3px
      +rmin($screen-sm)
        font-size: 39px
    p
      font-size: 15px
      font-weight: 400
      max-width: 550px
      margin: 4px auto
      color: white
      span
        font-weight: 700
        margin-left: 4px
      +rmin($screen-sm)
        font-size: 19px
  &-content
    padding-top: 20px
    padding-bottom: 20px
    padding-left: 15px
    padding-right: 15px
    +rmin($screen-sm)
      padding: 36px 10px 58px
  &-form
    max-width: 820px
    margin: 0 auto
    .row
      margin-left: -5px
      margin-right: -5px
      > div
        padding-left: 5px
        padding-right: 5px
    &-bottom
      margin-top: 50px
      text-align: center
      position: relative
      .button
        display: block
        margin: 0 auto
    &-caption
      display: block
      margin-bottom: 20px
      font-size: 18px
      display: inline-block
      position: absolute
      top: 0
      left: 0
      width: 195px
      text-align: left
      +r(767px)
        position: static
        text-align: center

/* start input-block */
.input-block
  width: 100%
  border: 1px solid rgba($color-gold, 0.6)
  box-sizing: border-box
  border-radius: 5px
  position: relative
  font-size: 15px
  margin: 5px 0
  display: table
  &.selected
    border: 1px solid rgba($color-gold, 1)
  +r(767px)
    border: none
    margin: 16px 0
    &.selected
      border: none
  span
    position: relative
    display: table-cell
    vertical-align: top
    width: 1%
    white-space: nowrap
    box-sizing: content-box
    left: 20px
    top: 0
    color: white
    height: 52px
    line-height: 53px
    font-size: 18px
    padding-right: 20px
    z-index: 1
    .required
      font-size: 16px
      font-style: normal
      color: #b70d13
      margin-left: 4px
      display: none
    &:after
      content: ''
      position: absolute
      right: 0
      top: 11px
      height: 30px
      width: 1px
      background-color: rgba($color-gold, 0.7)
    +r(767px)
      position: static
      display: block
      margin-bottom: 8px
      height: auto
      line-height: 1
      width: 100%
      &:after
        display: none
  +r(767px)
    border: none
  input, textarea
    height: 52px
    border: none
    display: table-cell
    vertical-align: top
    width: 100%
    box-sizing: border-box
    font-size: 15px
    padding-right: 16px
    padding-left: 30px
    border-radius: 20px
    background-color: transparent
    color: $color-gold
    &:focus
      outline: none
    +r(767px)
      border: 1px solid rgba($color-gold, 1)
      border-radius: 5px
      padding-left: 16px
      font-size: 14px
      display: block
  textarea
    resize: none
    vertical-align: top
    height: 108px
    padding-top: 17px
    +r(767px)
      padding-top: 8px
/* end input-block */
