
.out
  overflow: hidden
  position: relative
/* start promo-main */
.promo
  background-color: gray
  background: url(../images/promo-bg.jpg) no-repeat center / cover
  position: relative
  text-align: center
  padding: 20px 0
  overflow: hidden
  &-backgrounds
    display: none
  +rmin($screen-sm)
    padding: 60px 0 80px
    &-backgrounds
      display: block
      position: absolute
      top: 0
      left: 0
      height: 100%
      width: 100%
    &-background
      position: absolute
      top: 0
      left: 0
      height: 100%
      width: 100%
      transition: all 0.3s
      opacity: 0
      transform: scale(1.1)
      &.visible
        transform: none
        opacity: 1
  &:after
    content: ''
    position: absolute
    width: 100%
    height: 100%
    top: 0
    left: 0
    background-color: rgba(black, 0.55)
  +rmin($screen-sm)
    background-attachment: fixed
    .hidden
      opacity: 0 !important
  &-heading, &-items
    z-index: 3
    position: relative
    +tr(all, 0.2s)
  &-heading
    color: $color-gold
    font-size: 20px
    line-height: 1.45
    text-transform: uppercase
    +rmin($screen-xs)
      font-size: 24px
    +rmin($screen-sm)
      font-size: 36px
      margin-bottom: 40px
    +rmin($screen-md)
      font-size: 41px
    &-top, &-bottom
      display: block
    +avenir()
  &-cell
    display: inline-block
    width: 49%
    +rmin($screen-md)
      width: auto
    &:nth-child(3n+2)
      +rmin($screen-md)
        padding-left: 100px
        padding-right: 100px
        position: relative
      +rmin($screen-lg)
        padding-left: 200px
        padding-right: 200px
      .heading
        position: relative
        &:after, &:before
          content: ''
          position: absolute
          width: 110px
          left: -140px
          height: 1px
          background-color: #6e685f
          top: 50%
          transition: all 0.1s
          display: none
          +rmin($screen-md)
            display: block
        &:after
          left: auto
          right: -160px
        +rmin($screen-lg)
          &:before
            width: 165px
            left: -220px
          &:after
            width: 165px
            right: -220px
  &-item
    vertical-align: top
    text-decoration: none
    padding: 20px 0
    max-width: 290px
    margin: 0 auto
    position: relative
    display: block
    .icon
      position: relative
      height: 53px
      img
        position: absolute
        margin: auto
        top: 0
        bottom: 0
        left: 0
        right: 0
    .heading
      font-size: 17px
      color: white
      text-transform: uppercase
      margin-top: 6px
      margin-bottom: 0
      position: relative
      display: inline-block
      +rmin($screen-sm)
        font-size: 23px
        letter-spacing: 4px
        margin-top: 8px
      +futura()
    .caption
      margin-top: 0
      font-size: 16px
      color: $color-gold
    .desc
      display: none
      font-size: 16px
      line-height: 1.44
      color: #383838
      opacity: 0
      margin-bottom: 0
      +rmin($screen-sm)
        display: block
    +rmin($screen-sm)
      &:hover
        .heading, &:before, .caption, .desc
          +tr(all, 0.2s)
        &:before
          opacity: .8
          transform: none
        .heading
          color: #8f6a32
          &:before, &:after
            opacity: 0
        .desc
          opacity: 0.8
        .caption
          color: #383838
    &.js-hover-ready
      .heading, .caption
        transition: all 0.3s !important
      &:before
        content: ''
        position: absolute
        top: 50%
        left: 50%
        width: 430px
        height: 275px
        margin-left: -215px
        margin-top: -138px
        opacity: 0
        transform: scale(1.2)
        pointer-events: none
        +tr()
        background-color: white
/* end promo-main */

/* start frontpage-nav */
.frontpage-nav
  position: absolute
  width: 30px
  text-align: center
  left: 30px
  top: 50%
  transform: translateZ(0) translateY(-50%)
  z-index: 20
  +tr()
  display: none
  &.hidden
    opacity: 0
  +rmin($screen-md)
    left: 60px
    display: block
  li
    position: relative
    &:last-child
      padding-bottom: 0
    &:after
      content: ''
      display: block
      height: 76px
      margin: -20px auto -20px
      width: 1px
      background-color: #474c53
    &:last-child:after
      display: none
  a
    padding: 20px
    z-index: 10
    position: relative
    span
      border: 1px solid white
      width: 9px
      height: 9px
      display: block
      border-radius: 50%
      margin: auto
      +tr()
    &.active,
      span
        width: 23px
        height: 23px
        border-width: 3px
        border-color: $color-gold
    &:hover
      span
        border-color: $color-gold
/* end frontpage-nav */

/* start mouse */
.mouse
  width: 20px
  height: 34px
  position: absolute
  left: 50%
  bottom: 48px
  border-radius: 30px
  border: 1px solid #a4a7aa
  z-index: 2
  animation: wiggle 1.4s infinite
  display: none
  +rmin($screen-md)
    display: block
  +tr()
  &.hidden
    opacity: 0
  &:after
    content: ''
    position: absolute
    width: 2px
    height: 2px
    background-color: #a4a7aa
    left: 50%
    margin-left: -1px
    top: 9px
    border-radius: 50%
/* end mouse */

@keyframes wiggle
  0%
    transform: translateZ(0) translateY(0)
  50%
    transform: translateZ(0) translateY(20px)
  100%
    transform: translateZ(0) translateY(0)

[data-aos="zoom-in1"]
  transform: scale(0.1);
  opacity: 0;
  transition-property: transform, opacity;
  &.aos-animate
    transform: scale(1);
    opacity: 1;

[data-aos="fade-right-big"]
  transform: translateX(-100%);
  opacity: 4;
  transition-property: transform, opacity;
  &.aos-animate
    transform: none;
    opacity: 1;

[data-aos="fade-left-big"]
  transform: translateX(100%);
  opacity: 4;
  transition-property: transform, opacity;
  &.aos-animate
    transform: none;
    opacity: 1;

/* start about-us */
.about-us
  text-align: center
  padding: 40px 0
  +rmin($screen-sm)
    padding-top: 70px
  .circles-container
    position: relative
    display: inline-block
  .circles
    display: none
    +rmin($screen-sm)
      display: block
  &-logo
    margin-bottom: 20px
    +rmin($screen-sm)
      height: 118px
      line-height: 118px
      position: absolute
      width: 150%
      transform: translate(-50%, -50%)
      top: 50%
      left: 50%
  .logo-circle
    +rmin($screen-sm)
      width: 118px
      height: 118px
      border: 2px solid rgba(#967440, 0.9)
      border-radius: 50%
      position: relative
      display: block
      margin: 0 auto
      img
        position: absolute
        margin: auto
        top: 0
        bottom: 0
        right: 0
        left: 0
  .logo-text
    font-size: 30px
    text-transform: uppercase
    letter-spacing: 4px
    color: #8f6a32
    +avenir()
    +rmin($screen-xs)
      font-size: 36px
    +rmin($screen-sm)
      display: inline-block
      font-size: 36px
      letter-spacing: 22px
      position: relative
      top: -120px
      left: 18px
      span
        display: inline-block
        &:before
          content: ''
          position: absolute
          height: 1px
          width: 2000px
          right: 109%
          background-color: #d0bda0
          top: 50%
        &:first-child
          margin-right: 210px
        &:last-child:before
          right: auto
          left: 105%
  &-group-text
    font-size: 17px
    max-width: 900px
    margin: 20px auto
    .row
      +clr()
      +rmin($screen-sm)
        margin-left: -45px
        margin-right: -45px
        margin-top: 40px
        margin-bottom: 40px
  &-text
    margin: 20px 0
    line-height: 1.6
    +rmin($screen-sm)
      float: left
      padding-left: 45px
      padding-right: 45px
      width: 50%
  .circle-item
    display: block
    position: absolute
    transform: translateZ(0)
    z-index: 1
    transition: opacity 0.7s 2s, transform 0.3s 0s !important
    &.brown
      border-color: #c0a37d
      svg path
        fill: #a08253
    &.brown-secondary
      .circle-content
        background-color: #bea17a
        width: 38px
        height: 38px
        svg path
          fill: white
      &:hover
        .circle-content
          background-color: #fff
    &:hover
      z-index: 10
      transition-delay: 0s !important
      .circle-content
        z-index: 10
        width: 100px
        height: 100px
        img
          transition-delay: 0.3s
          opacity: 1
        svg
          opacity: 0
  .date
    font-size: 12px
    color: #7c7c7c
    margin: 2px
  .circle-content
    width: 38px
    height: 38px
    border: 1px solid #e3e3e3
    position: relative
    transform-origin: 50%
    border-radius: 50%
    transition: all 0.3s
    background-color: white
    z-index: 10
    svg, img
      position: absolute
      top: 0
      bottom: 0
      left: 0
      right: 0
      margin: auto
      transition: opacity 0.2s
    img
      max-width: 80%
      max-height: 80%
      opacity: 0
  .circle-1
    height: 540px
    width: 540px
    margin: auto
    border: 1px solid #dfdfdf
    border-radius: 50%
  .circle-2
    height: 460px
    width: 460px
    margin: auto
    border: 1px solid #e9e9e9
    position: absolute
    top: 50%
    left: 50%
    margin-left: -230px
    margin-top: -230px
    border-radius: 50%
  .circle-3
    height: 316px
    width: 316px
    margin: auto
    border: 1px solid #e0e0e0
    position: absolute
    top: 50%
    left: 50%
    margin-left: -158px
    margin-top: -158px
    border-radius: 50%
/* end about-us */

.btn
  text-decoration: none
  display: inline-block
  min-width: 214px
  text-align: center
  border: 1px solid #d8d8d8
  height: 47px
  line-height: 44px
  position: relative
  overflow: hidden
  font-size: 14px
  padding: 0
  +tr()
  .icon
    margin-right: 10px
  span
    vertical-align: middle
  &-round
    border-radius: 30px
  &-spacing
    letter-spacing: 4px
    text-transform: uppercase
  &-long
    min-width: 280px
    height: 52px
    line-height: 50px
    +rmin($screen-sm)
      min-width: 300px
  &-transparent
    border-color: rgba(white, 0.3)
  span
    position: relative
    +tr()
  &:hover
    border-color: $color-gold
    .icon:before
      opacity: 0
    .icon:after
      opacity: 1
    span
      color: white
    &:before
      transform: none
  &:before
    content: ''
    height: 100%
    top: 0
    left: 0
    background-color: $color-gold
    position: absolute
    width: 100%
    transform: translateY(-102%)
    +tr()


/* start news-offers */
.news-offers
  +clr()
  .w-50, .w-25
    +rmin($screen-sm)
      float: left
  .w-50
    +rmin($screen-sm)
      width: 40%
    +rmin($screen-md)
      width: 50%
  .w-50.second
    +rmin($screen-sm)
      width: 60%
    +rmin($screen-md)
      width: 50%
  .w-25
    +rmin($screen-sm)
      width: 30%
    +rmin($screen-md)
      width: 25%
  .h-100
    +rmin($screen-sm)
      height: 800px
  .h-50
    +rmin($screen-sm)
      height: 400px
  &-block
    text-decoration: none
    display: block
    text-align: center
    background-color: gray
    position: relative
    color: white
    background-color: white
    padding: 80px 20px
    overflow: hidden
    +rmin($screen-sm)
      padding: 0 10px
      display: table
      .inner
        display: table-cell
        vertical-align: middle
      &:not(.special-offer-block)
        text-align: left
        .dates
          vertical-align: middle
          display: table-cell
          width: 94px
        .inner
          padding-left: 20px
    +rmin($screen-lg)
      padding: 0 30px
    &:before
      content: ''
      top: 0
      left: 0
      width: 100%
      height: 100%
      position: absolute
      background-color: rgba(black, 0.3)
      z-index: 1
      +tr()
      +rmin($screen-sm)
        display: none
    &.no-bg:before
      display: none
    .background
      position: absolute
      left: 0
      top: 0
      width: 100%
      height: 100%
      +tr(all, 1s)
    .dates, .inner
      position: relative
      z-index: 2
      +tr()
    .inner
      margin-top: 20px
    .type
      font-size: 18px
      color: #bda177
      text-transform: uppercase
      +avenir()
      letter-spacing: 10px
      display: block
      +rmin($screen-lg)
        display: inline-block
        padding-right: 40px
        margin-right: 40px
        position: relative
        &:after
          content: ''
          position: absolute
          top: 50%
          right: 0
          width: 1px
          height: 170px
          background-color: $color-gold
          opacity: .14
          margin-top: -85px

    .text
      font-size: 19px
    .news-offers-text
      font-size: 15px
      color: #1e1e1e
      +rmin($screen-lg)
        font-size: 19px
    .news-offers-category
      color: white
      margin-top: 3px
    .dates-block-offer
      +rmin($screen-sm)
        position: absolute
        right: 30px
        top: 50%
        margin-top: -134px
        .date-block
          display: block
        .separator
          width: 1px
          height: 80px
          margin: 0
    &.color-black
      color: #1e1e1e
      .date-block
        color: #1e1e1e
      .news-offers-category
        color: #b4b4b4
    &.color-gold
      color: #a38354
      .news-offers-text
        color: #a38354
      .date-block
        color: #a38354
      .news-offers-category
        color: #b4b4b4
    &.no-bg, &.overlay-gold
      .date-block
        border-color: #a38354
    &.overlay-black, &.overlay-gold
      &:before
        +rmin($screen-sm)
          display: block !important
    &.overlay-gold
      &:before
        background-color: $color-gold
        opacity: .2
    &:hover
      .inner, .dates
        opacity: 0
      .background
        transform: scale(1.2)
      &:before
        transform: translateY(-101%)

/* end news-offers */

/* start date-block */
.dates
  .separator
    content: ''
    width: 90px
    height: 1px
    background-color: #bea17a
    display: inline-block
    vertical-align: middle
    margin-left: -4px
    margin-right: -4px

.date-block
  padding-top: 10px
  width: 94px
  height: 94px
  border: 2px solid #bda177
  border-radius: 50%
  overflow: hidden
  color: white
  display: inline-block
  vertical-align: middle
  text-align: center
  &:not(.date-block-offer)
    padding-top: 22px
  .from
    color: #bda177
    position: relative
    font-size: 15px
    line-height: 1
    margin-bottom: 2px
    &:before, &:after
      content: ''
      position: absolute
      left: 0
      top: 50%
      width: 34px
      height: 1px
      background-color: #bda177
      opacity: .4
    &:after
      left: auto
      right: 0
  .digit
    font-size: 30px
    line-height: 1
    margin-bottom: 2px
    +avenir()
  .month
    font-size: 15px
    line-height: 1
/* end date-block */

/* start promo-object */
.promo-object
  position: relative
  text-align: center
  color: white
  padding-bottom: 120px
  .container
    position: relative
    height: 100%
  &:before
    content: ''
    top: 0
    left: 0
    width: 100%
    height: 100%
    position: absolute
    background-color: rgba(black, 0.7)
  .object-logo
    margin-bottom: 20px
    display: inline-block
  .promo-heading
    margin-bottom: 30px
    +rmin($screen-sm)
      margin-bottom: 60px
  +rmin($screen-sm)
    padding-bottom: 160px
    background-attachment: fixed !important
/* end promo-object */

.like, .circle-link
  width: 106px
  height: 106px
  border-radius: 50%
  border: 1px solid #e5e5e5
  left: 50%
  margin-left: -54px
  position: absolute
  bottom: -50px
  z-index: 20
  background: white
  box-shadow: 0 0 10px 0 rgba(black, 0.1)
  +tr()
  svg
    position: absolute
    top: 0
    bottom: 0
    right: 0
    left: 0
    margin: auto
  svg path
    +tr()

.circle-link:hover
  background-color: #a4875a
  transform: scale(1.2) rotate(360deg)
  svg path
    fill: white
/* start objects-nav */
.objects-nav
  text-align: center
  border-bottom: 1px solid #8c8987
  position: relative
  z-index: 1
  margin-bottom: 70px
  +rmin($screen-sm)
    margin-bottom: 130px
  li
    display: inline-block
  a
    display: inline-block
    line-height: 60px
    height: 60px
    position: relative
    padding: 0 8px
    text-decoration: none
    color: #dddddd
    font-size: 15px
    +rmin($screen-sm)
      padding-left: 50px
      padding-right: 50px
    &.active
      color: #fff
      &:before
        content: ''
        left: 0
        bottom: -1px
        width: 100%
        height: 1px
        background-color: #fff
        position: absolute
/* end objects-nav */

/* start about-object-slider */
.about-object
  &-slider
    text-align: center
    padding: 20px 0
    text-align: center
    img
      display: inline-block
    .slide
      overflow: hidden
    +rmin($screen-sm)
      padding: 40px 0
  &-item
    margin: 30px 0
    vertical-align: top
    display: inline-block
    width: 49%
    position: relative
    .icon-wrap
      position: relative
      height: 50px
      img
        position: absolute
        top: 0
        bottom: 0
        left: 0
        right: 0
        margin: auto
    .num
      color: #987641
      font-size: 40px
      margin-bottom: 14px
      margin-top: 20px
      +avenir()
    .text
      font-weight: 300
      text-transform: uppercase
      font-size: 15px
      letter-spacing: 3px
      max-width: 100px
      margin: 0 auto
    +rmin($screen-sm)
      width: 20%
      margin-right: -4px
    +rmin(1000px)
      width: auto
      margin: 30px 80px
      &:after
        content: ''
        top: 102px
        right: -145px
        width: 85px
        height: 1px
        position: absolute
        background-color: #d8d8d8
      &:last-child:after
        display: none
    +rmin($screen-md)
      margin-left: 100px
      margin-right: 100px
/* end about-object-slider */

/* start object-location-info */
.object-location-info
  text-align: center
  padding: 50px 0 40px
  background-color: #f5f5f5
  position: relative
  h4
    font-size: 18px
    color: #383838
    font-weight: 400
    text-transform: uppercase
    letter-spacing: 2px
    margin-bottom: 0
    margin-top: 0
  p
    margin-top: 0
    color: #383838
    font-size: 15px
    margin-bottom: 0
    opacity: .6
  .to-location-link
    border: 1px solid #e5e5e5
    background-color: #f5f5f5
    border-radius: 50%
    position: absolute
    width: 56px
    height: 56px
    bottom: -28px
    left: 50%
    margin-left: -28px
    +tr()
    svg
      position: absolute
      top: 0
      bottom: 0
      right: 0
      left: 0
      margin: auto
      path
        +tr()
    &:hover
      border-color: white
      background-color: $color-gold
      svg path
        fill: white

/* end object-location-info */

/* start object-description */
.object-description
  text-align: center
  line-height: 1.6
  padding: 50px 0
  .container
    max-width: 1165px
    margin: 0 auto
  &-text
    +rmin($screen-sm)
      text-align: left
  .btn
    margin-top: 30px
    +rmin($screen-sm)
      margin-top: 60px
  +rmin($screen-md)
    .row
      margin-left: -34px
      margin-right: -38px
      > div
        padding-left: 38px
        padding-right: 38px
/* end object-description */

/* start gallery-slider */
.gallery-slider
  position: relative
  text-align: center
  +rmin($screen-sm)
    margin-top: 50px
  img
    width: 100%
    max-width: auto
  .arr
    position: absolute
    border-radius: 50%
    left: 10px
    top: 50%
    border: 2px solid white
    border-radius: 50%
    width: 50px
    height: 50px
    margin-top: -25px
    background: transparent
    padding: 0
    cursor: pointer
    &:focus
      outline: none
    +tr()
    svg
      position: absolute
      top: 0
      bottom: 0
      left: 0
      right: 0
      margin: auto
      max-width: 50%
      max-height: 50%
      path
        +tr()
      +rmin($screen-sm)
        max-width: 50%
        max-height: 50%
    &:hover
      border-color: white
      background-color: #fff
      svg path
        fill: $color-text
    &-right
      left: auto
      right: 10px
    +rmin($screen-sm)
      width: 94px
      height: 94px
      margin-top: -47px
      left: 80px
      &.arr-right
        left: auto
        right: 80px
/* end gallery-slider */

/* start object-features */
.object-features
  text-align: center
  position: relative
  .image
    width: 254px
    height: 254px
    margin: 0 auto
    transform: translateZ(0) scale(0.5)
    background-color: #fff
    z-index: 1
    position: relative
    img
      opacity: .5
      +tr()
    +tr()
  .slick-center
    .image
      transform: none
      img
        opacity: 1
  .slick-slide:not(.slick-center)
    cursor: pointer
    &:hover
      .image img
        opacity: 1
  img
    display: inline-block
  .slide
    padding-bottom: 10px
  &-slider
    position: relative
    padding-bottom: 30px
    +rmin($screen-sm)
      padding-bottom: 60px
    &:before
      content: ''
      position: absolute
      top: 128px
      left: 0
      width: 100%
      height: 1px
      background: #d8d8d8
  .arrows
    position: absolute
    width: 310px
    margin-left: -155px
    left: 50%
    top: 100px
    z-index: 10
    height: 60px
  .slide-desc
    padding-top: 120px
    font-size: 21px
    color: #3a3a3a
    transition: all 0.1s
    opacity: 0
    transform: translateY(20px)
    +rmin($screen-sm)
      padding-top: 130px
      margin-left: -100px
      margin-right: -100px
  .slick-center
    .slide-desc
      opacity: 1
      transform: none
  .arr
    position: absolute
    border-radius: 50%
    left: 0
    top: 0
    border: 1px solid #e5e5e5
    border-radius: 50%
    width: 50px
    height: 50px
    background: white
    padding: 0
    cursor: pointer
    &:focus
      outline: none
    +tr()
    svg
      position: absolute
      top: 0
      bottom: 0
      left: 0
      right: 0
      margin: auto
      max-width: 50%
      max-height: 50%
      path
        fill: #686868
        +tr()
    &-right
      left: auto
      right: 0
  .slider-pagination
    position: absolute
    width: 100%
    top: 290px
    left: 0
    text-align: center
    font-size: 30px
    color: #8f6a32
    +rmin($screen-sm)
      bottom: 52px
    .inner
      width: 124px
      margin: 0 auto
      border-bottom: 1px solid #eaeaea
      padding-bottom: 10px
      +rmin($screen-sm)
        padding-bottom: 20px
    +avenir()
    .from
      display: inline-block
      &:after
        content: '/'
        display: inline-block
        margin-left: 9px
        margin-right: 9px
/* end object-features */

/* start object-location */
.object-location
  position: relative
  .google-map
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    z-index: 2
  .object-location-content
    padding: 30px 20px
    z-index: 10
    background-color: rgba(#484e55, 0.9)
    position: relative
    text-align: center
    +tr()
    &.hidden
      opacity: 0
      z-index: 0
    +rmin($screen-sm)
      padding: 70px
    .inner
      overflow: hidden
      &.aos-animate
        &:before,
        &:after,
        .wrap:before,
        .wrap:after
          transform: none
      &:before, &:after
        content: ''
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 3px
        background-color: #9a805f
        transform: translateX(-101%)
        transition: all 2s
      &:after
        top: auto
        bottom: 0
        transform: translateX(101%)
      .wrap
        display: block
        padding: 10px 20px
        text-decoration: none
        font-weight: 700
        text-transform: uppercase
        position: relative
        padding-top: 100px
        &:before, &:after
          content: ''
          position: absolute
          top: 0
          left: 0
          width: 3px
          height: 100%
          background-color: #9a805f
          transform: translateY(-101%)
          transition: all 2s
        &:after
          top: auto
          bottom: 0
          left: auto
          right: 0
          transform: translateY(101%)
        +rmin($screen-sm)
          height: 380px
          padding-top: 220px
  h4
    font-size: 18px
    color: #bda177
    text-transform: uppercase
    letter-spacing: 3px
    +avenir()
    +rmin($screen-sm)
      letter-spacing: 8px
  .marker-trigger
    padding: 0
    width: 70px
    height: 70px
    position: absolute
    top: 66px
    left: 50%
    z-index: 20
    margin-left: -35px
    border-radius: 50%
    border: 1px solid #72695a
    background: #484e55
    cursor: pointer
    transition: opacity 1s, border-color 0.3s 0s, transform 1s !important
    &:hover
      border-color: white
      &:before
        opacity: 0
      &:after
        opacity: 1
      // ~ div.object-location-content
        // .inner
          // &:before,
          // &:after,
          // .wrap:before,
          // .wrap:after
            // transition-duration: 0.3s
            // background-color: white
          // h4
            // color: white
    +rmin($screen-sm)
      width: 110px
      height: 110px
      top: 168px
      margin-left: -55px
    &:focus
      outline: none
    &:before, &:after
      content: ''
      top: 50%
      left: 50%
      position: absolute
      width: 24px
      height: 36px
      margin-left: -12px
      margin-top: -18px
      background: url(../images/marker.png) no-repeat center / 100% 100%
      +tr()
      +rmin($screen-sm)
        width: 34px
        height: 46px
        margin-left: -17px
        margin-top: -23px
    &:after
      opacity: 0
      background-image: url(../images/marker-white.png)
    +tr()
    .cross
      position: absolute
      margin: auto
      top: 0
      +burger(50px, 3px, 3px, #9a805f)
      +burger-to-cross()
      +tr()
      opacity: 0
    &.active
      background: #484e55
      &:before, &:after
        opacity: 0
      .cross
        opacity: 1

/* end object-location */

.object-end
  text-align: center
  padding: 60px 0


/* start made-by */
.made-by
  font-size: 13px
  text-decoration: none
  display: inline-block
  margin-top: 14px
  color: #352929
  &.aos-animate
    opacity: .6 !important
  +tr()
  &:hover
    opacity: 1 !important
/* end made-by */

/* start objects-group */
.objects-group
  text-align: center
  +rmin($screen-sm)
    +clr()

.object-preview
  height: 0
  padding-bottom: 70%
  position: relative
  z-index: 2
  display: block
  +rmin($screen-sm)
    float: left
    height: 800px
    width: 40%
    padding-bottom: 0
  +rmin($screen-md)
    width: 50%
  .object-go
    width: 104px
    height: 104px
    background-color: #fff
    border-radius: 50%
    position: absolute
    left: 50%
    margin-left: -52px
    bottom: -52px
    z-index: 10
    +tr()
    svg
      position: absolute
      top: 0
      bottom: 0
      left: 0
      right: 0
      margin: auto
    &:before
      content: ''
      top: 0
      bottom: 0
      left: 0
      right: 0
      margin: auto
      border: 2px solid #a48358
      border-radius: 50%
      position: absolute
      width: 94px
      height: 94px
    svg path, &:before
      +tr()
    svg path
      fill: #424242
    &:hover
      transform: scale(1.2) rotate(360deg)
      &:before
        background-color: #a48358
      svg path
        fill: white
      + div
        &:before
          opacity: 0
        .background
          transform: scale(1.2)
        .logo
          opacity: 0
          transform: translateY(-20px)
    +rmin($screen-sm)
      bottom: auto
      top: 50%
      margin-top: -52px
      right: -52px
      left: auto
  .inner
    overflow: hidden
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    &:before
      content: ''
      top: 0
      left: 0
      width: 100%
      height: 100%
      background-color: rgba(black, 0.5)
      position: absolute
      z-index: 3
      +tr()
    // &:hover
      // &:before
        // opacity: 0
      // .background
        // transform: scale(1.2)
      // .logo
        // opacity: 0
        // transform: translateY(-20px)
  .logo
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    margin: auto
    z-index: 5
    +tr()
    max-width: 40%
    max-height: 40%
  .background
    position: absolute
    top: 0
    bottom: 0
    width: 100%
    height: 100%
    background-size: cover
    background-repeat: no-repeat
    background-position: center
    z-index: 1
    +tr()
.object-info
  padding: 60px 15px
  position: relative
  +rmin($screen-sm)
    float: left
    width: 60%
    padding-bottom: 200px
    height: 800px
  +rmin($screen-md)
    width: 50%
    display: table
    .inner
      display: table-cell
      vertical-align: middle
      .object-info-content
        max-width: 545px
        margin: auto
        position: relative
        top: -50px
  h2
    color: #8f6a32
    text-transform: uppercase
    font-size: 30px
    letter-spacing: 4px
    position: relative
    padding-bottom: 30px
    &.aos-animate:before
      width: 192px
    &:before
      content: ''
      bottom: 0
      left: 50%
      transform: translateX(-50%)
      width: 192px
      height: 1px
      background-color: #dcdcdc
      position: absolute
    +rmin($screen-xs)
      font-size: 36px
    +rmin($screen-sm)
      font-size: 41px
    +avenir()
  p
    font-size: 17px
    line-height: 1.6
  &-bottom
    margin-top: 50px
    +rmin($screen-sm)
      position: absolute
      left: 0
      bottom: 60px
      width: 100%
    > span
      display: block
      opacity: 0.6
      margin-bottom: 20px

.objects-item:nth-child(2n)
  +rmin($screen-sm)
    .object-preview
      float: right
      .object-go
        right: auto
        left: 0

    .object-info
      float: left
/* end objects-group */

.other-objects-link
  display: block
  text-decoration: none
  background-color: #eeeeee
  +tr()
  padding: 30px 0
  +rmin($screen-sm)
    padding: 50px 0
  .arr
    overflow: hidden
    height: 27px
    width: 211px
    margin: 20px auto 0
    position: relative
    +tr(all, 1s, 0.4s)
    &:before
      content: ''
      top: 50%
      left: 0
      width: 211px
      background-color: #bdbdbd
      height: 1px
      position: absolute
    svg
      position: absolute
      top: 0
      left: 197px
    svg path
      +tr()
    +rmin($screen-sm)
      width: 10px
      opacity: 0
      &.aos-animate
        width: 211px
        opacity: 1
  &:hover
    background-color: #987641
    .section-heading
      color: white
    .arr
      &:before
        background-color: #fff
      svg path
        fill: white

.color-black
  color: $color-text

.news-image
  height: 0
  padding-bottom: 50%
  position: relative
  z-index: 2
  display: block
  overflow: hidden
  &:before
    content: ''
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-color: rgba(black, 0.6)
    position: absolute
    z-index: 3
    +tr()
    display: none
    +rmin($screen-sm)
      display: block
  +rmin($screen-sm)
    float: left
    height: 400px
    width: 50%
    padding-bottom: 0
  .background
    position: absolute
    top: 0
    bottom: 0
    width: 100%
    height: 100%
    background-size: cover
    background-repeat: no-repeat
    background-position: center
    z-index: 1
    +tr()

.news-info
  padding: 60px 15px
  position: relative
  +rmin($screen-sm)
    float: left
    width: 50%
    height: 400px
  +rmin($screen-md)
    display: table
    .inner
      display: table-cell
      vertical-align: middle
      .news-info-content
        max-width: 445px
        margin: auto
        position: relative
  &-name
    font-size: 19px
    color: #3c3c3c
  &-more
    font-size: 15px
    line-height: 1.6
    margin: 0
    color: #8c8c8c
  .date
    color: #8f6a32
    padding-bottom: 30px
    margin-bottom: 30px
    line-height: 1
    position: relative
    &:before
      content: ''
      bottom: 0
      left: 50%
      transform: translateX(-50%)
      width: 124px
      height: 1px
      background-color: #d5d5d5
      position: absolute
    .num
      font-size: 30px
      +avenir()

.news-group
  +clr()

.news-item
  text-align: center
  text-decoration: none
  &:hover
    .news-image:before
      opacity: 0
    .background
      transform: scale(1.2)

.news-item:nth-child(2n+1)
  +rmin($screen-sm)
    .news-image
      float: right
      .object-go
        right: auto
        left: 0
    .news-info
      float: left

.link-more
  display: block
  text-decoration: none
  background-color: #eeeeee
  padding: 30px 0
  text-align: center
  transition: all 0.3s
  +rmin($screen-sm)
    padding: 60px 0
  span
    position: relative
    font-size: 15px
    display: block
    margin-top: 20px
  .circle
    width: 80px
    height: 80px
    border: 1px solid #c5c5c5
    border-radius: 50%
    opacity: .4
    margin: 0 auto 6px
    position: relative
    +tr()
    svg
      position: absolute
      top: 0
      left: 0
      bottom: 0
      right: 0
      margin: auto
      +tr()
      path
        fill: #c5c5c5
    +rmin($screen-sm)
      opacity: 0
      transform: rotate(180deg)
      &.aos-animate
        opacity: 1
        transform: none
  &:hover
    background-color: #987641
    color: #fff
    .circle
      border-color: white
      opacity: 1
      transform: scale(1.1) rotate(360deg) !important
    svg
      fill: white
      path
        fill: white

/* start .news-promo */
.news-item-promo, .news-article-top
  position: relative
  background-size: cover
  background-position: center
  background-repeat: no-repeat
  color: #ba9d64
  text-align: center
  padding: 40px 0
  +rmin($screen-sm)
    padding-top: 100px
    padding-bottom: 100px
    background-attachment: fixed
    overflow: hidden
  .inner, .link
    text-decoration: none
    display: block
    position: relative
    &:not(.news-article-top):hover
      .title
        color: white
    +rmin($screen-sm)
      padding-top: 40px
      padding-bottom: 40px
      &:before, &:after
        content: ''
        position: absolute
        left: 50%
        top: -386px
        height: 400px
        width: 1px
        background-color: #9a805f
      &:after
        top: auto
        bottom: -410px
  &:before
    content: ''
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background: rgba(black, 0.7)
  .container
    position: relative
    +rmin($screen-sm)
      max-width: 930px
  .title
    color: #ba9d64
    transition: opacity 1s .7s, color 0.3s !important
  .category
    color: white
    font-size: 15px
    +rmin($screen-sm)
      position: relative
      top: 20px
      color: #c0c0c0
  .date
    margin-bottom: 20px
    line-height: 1
    position: relative
    .num
      font-size: 30px
      +avenir()
  .square
    width: 282px
    height: 100%
    border: 9px solid #9a805f
    border-left: 0
    border-right: 0
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -46%)
    display: none
    overflow: hidden
    +tr(all, 1s)
    &:before, &:after
      content: ''
      width: 100%
      position: absolute
      height: 26%
      border-left: 9px solid #9a805f
      border-right: 9px solid #9a805f
      left: 0
      top: -1px
      transform: translateY(-102%)
      +tr(all, 1s, .2s)
    &:after
      top: auto
      bottom: -1px
      transform: translateY(102%)
    +rmin($screen-sm)
      display: block
      width: 10px
      opacity: 0
      &.aos-animate
        opacity: 1
        width: 262px
        &:before, &:after
          transform: none
/* end .news-promo */

.news-article-top
  padding-bottom: 100px
  +rmin($screen-sm)
    overflow: visible
  .inner
    &:before, &:after
      display: none


/* start .news-item-full */
.news-item-full
  position: relative
  background-size: cover
  background-position: center
  background-repeat: no-repeat
  color: #ba9d64
  text-align: center
  padding: 40px 0
  +rmin($screen-sm)
    padding-top: 100px
    padding-bottom: 100px
    background-attachment: fixed
    overflow: hidden
  a
    text-decoration: none
    display: block
    position: relative
    &:hover
      .title, .read-more
        color: rgba(#ba9d64, 1)
  &:before
    content: ''
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background: rgba(black, 0.7)
  .container
    position: relative
    +rmin($screen-sm)
      max-width: 930px
  .title
    transition: opacity 1s .4s, color 0.3s, transform 1s .4s !important
    color: rgba(#ba9d64, .6)
    margin-bottom: 19px
  .read-more
    display: inline-block
    padding: 16px 40px
    text-align: center
    border-top: 1px solid rgba(white, 0.2)
    font-size: 15px
    color: rgba(#ba9d64, .6)
    transition: opacity 1s .8s, color 0.3s, transform 1s .8s !important
  .date
    margin-bottom: 20px
    line-height: 1
    position: relative
    .num
      font-size: 30px
      +avenir()
/* end .news-full */

/* start post */
.post
  font-size: 17px
  line-height: 1.6
  text-align: center
  padding: 80px 0 40px
  +rmin($screen-sm)
    padding-bottom: 90px
  .container
    max-width: 990px
    margin: 0 auto
  &-footer
    margin-top: 50px
    text-align: center
  &-offer
    text-align: left
  .container
    p, ul, ol
      margin: 1.4em 0
    a
      color: #987641
      text-decoration: none
      &:hover
        text-decoration: underline

.post-link
  color: #987641
  text-decoration: none
  font-size: 19px
  line-height: 20px
  .icon
    margin-right: 10px
  &:hover
    .text
      display: inline-block
      text-decoration: underline
      vertical-align: middle
      position: relative
      top: -2px
/* end post */

.watch-also
  padding: 30px 0
  margin: 0
  color: #987641
  font-size: 24px
  text-transform: uppercase
  letter-spacing: 4px
  text-align: center
  background-color: #eeeeee
  position: relative
  +avenir()
  .arr
    display: none
    +rmin($screen-sm)
      display: block
  +rmin($screen-sm)
    font-size: 40px
    padding: 110px 0 2px
    &:before
      content: ''
      top: 34px
      left: 50%
      background-color: #747474
      height: 56px
      width: 1px
      position: absolute
    .arr
      width: 25px
      margin: 20px auto 30px
      background: url(../images/arr-down.svg) no-repeat center bottom
      &:before
        content: ''
        margin: auto
        width: 1px
        height: 62px
        background-color: #747474
        display: block

/* start offer-item-promo */
.offer-item-promo
  position: relative
  background-size: cover
  background-position: center
  background-repeat: no-repeat
  color: white
  text-align: center
  padding: 40px 0 100px
  +rmin($screen-sm)
    padding-top: 80px
    padding-bottom: 100px
    background-attachment: fixed
  .inner, .link
    text-decoration: none
    display: block
    position: relative
    &:hover
      .title, .title-top, .read-more
        color: white
      .read-more
        border-color: white
    +rmin($screen-sm)
      padding-top: 40px
      padding-bottom: 40px
  &:before
    content: ''
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background: rgba(black, 0.7)
  .dates
    margin-bottom: 40px
    +rmin($screen-sm)
      .separator
        +tr(all, 1s, .8s)
        opacity: 0
        width: 10px
      &.aos-animate
        .separator
          width: 90px
          opacity: 1
  .container
    position: relative
    +rmin($screen-sm)
      max-width: 930px
  .title-top
    font-weight: 400
    font-size: 18px
    margin: 0
    letter-spacing: 3px
  .title, .title-top
    color: rgba(white, 0.7)
    transition: opacity 1s .7s, color 0.3s !important
    margin-top: 10px
    text-transform: uppercase
  .read-more
    display: inline-block
    padding: 16px 40px
    text-align: center
    border-top: 1px solid rgba(white, 0.2)
    margin-top: 30px
    font-size: 15px
    color: rgba(white, .6)
    transition: opacity 1s .8s, color 0.3s, transform 1s .8s, border-color 0.3s !important
/* end .offer-item-promo */

.offer-image
  height: 0
  padding-bottom: 50%
  position: relative
  z-index: 2
  display: block
  overflow: hidden
  &:before
    content: ''
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-color: rgba(black, 0.3)
    position: absolute
    z-index: 3
    +tr()
    display: none
    +rmin($screen-sm)
      display: block
  +rmin($screen-sm)
    float: left
    height: 400px
    width: 50%
    padding-bottom: 0
  .background
    position: absolute
    top: 0
    bottom: 0
    width: 100%
    height: 100%
    background-size: cover
    background-repeat: no-repeat
    background-position: center
    z-index: 1
    +tr()

.offer-info
  padding: 60px 15px
  position: relative
  +rmin($screen-sm)
    float: left
    width: 50%
    height: 400px
  +rmin($screen-md)
    display: table
    .inner
      display: table-cell
      vertical-align: middle
      .offer-info-content
        max-width: 600px
        margin: auto
        position: relative
  &-type
    font-size: 18px
    letter-spacing: 3px
    text-transform: uppercase
    color: #987641
    margin-bottom: 30px
  &-desc
    line-height: 1.6
  &-more
    text-align: center
    border-top: 1px solid #d5d5d5
    margin-top: 30px
    padding-top: 20px
    font-size: 15px
    color: rgba(white, .6)
    color: #848484
    display: inline-block
    padding-left: 10px
    padding-right: 10px
    +tr()
  .date
    color: #8f6a32
    padding-bottom: 30px
    margin-bottom: 30px
    line-height: 1
    position: relative
    &:before
      content: ''
      bottom: 0
      left: 50%
      transform: translateX(-50%)
      width: 124px
      height: 1px
      background-color: #d5d5d5
      position: absolute
    .num
      font-size: 30px
      +avenir()

.offers-group
  overflow: hidden
  +clr()

.offer-item
  text-align: center
  text-decoration: none
  &:hover
    .offer-image:before
      opacity: 0
    .background
      transform: scale(1.2)
    .offer-info-more
      color: $color-text
      border-color: $color-text

.offer-item:nth-child(2n+1)
  +rmin($screen-sm)
    .offer-image
      float: right
      .object-go
        right: auto
        left: 0
    .offer-info
      float: left

/* start offer-results */
.offer-results
  text-align: center
  background-color: #f9f9f9
  padding: 80px 0 50px
  position: relative
  &-item
    padding-top: 34px
    margin: 40px 0
    +rmin($screen-sm)
      display: inline-block
      width: 240px
      &:after
        content: ''
        position: absolute
        top: -10px
        right: 0
        height: 110%
        width: 1px
        background-color: #d7d7d7
        height: 10px
        opacity: 0
        +tr(all, 1s)
      &:last-child:after
        display: none
    +rmin($screen-md)
      width: 300px
    &:before
      content: ''
      left: 50%
      top: 0
      width: 142px
      height: 142px
      margin-left: -71px
      border: 1px solid #d8d8d8
      position: absolute
      border-radius: 50%
      transition: all 0.4s 0.2s
    .num, .text
      color: #987641
      line-height: 1
    .num
      font-size: 48px
      +avenir()
    .text
      font-size: 17px
      letter-spacing: 3px
    .caption
      letter-spacing: 2px
      text-transform: uppercase
      font-size: 15px
      margin-top: 70px
    +rmin($screen-sm)
      &:before
        transform: scale(1.2)
        opacity: 0
      &.aos-animate
        &:before
          transform: none
          opacity: 1
        &:after
          height: 110%
          opacity: 1
/* end offer-results */

/* start offer-result-link */
.offer-result-link
  padding: 40px 0
  text-align: center
  display: block
  background-color: #eeeeee
  text-decoration: none
  +tr()
  +rmin($screen-sm)
    padding: 80px 0
  .icon
    &:after
      background-image: url(../images/statue-white.png)
  p
    margin-bottom: 0
    margin-top: 0
    letter-spacing: 3px
    +tr()
  .section-heading
    color: #987641
    margin-top: 8px
    margin-bottom: 4px
    +tr()
  &:hover
    background-color: #987641
    .icon:before
      opacity: 0
    .icon:after
      opacity: 1
    p, .section-heading
      color: white
/* end offer-result-link */
