//BEGIN header
header.header(class=headerInner ? 'header-inner' : '')
  .header-topline
    .container
      if (headerInner)
        a.logo-small(href="#")
          img(src="images/logo-inner.png")
      a.callback.popup-link(href="#popup-callback")
        include ../data/phone.svg
        span Заказать звонок
      .phones
        .phone
          span.phone-caption Головной офис
          a(href="#") 8 (495) 778 98 97
        .phone
          span.phone-caption Департамент продаж
          a(href="#") 8 (495) 778 98 98
      a.nav-trigger-wrapper(href="#" role="button")
        span.nav-trigger
  .header-middle
    .container
      .wrapper
        if (!headerInner)
          a.header-link(href="#") Жилая недвижимость
          a.logo(href="#")
            .logo-inner
              img.logo-img(src="images/logo.png" alt="Sezar group")
          a.header-link(href="#") Коммерческая недвижимость
      include _links.pug
//END header
